<!DOCTYPE HTML>
<html>
<head>
    <div th:replace="common-things :: bootstrap-head"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Счета</title>
</head>
<body>
<div th:replace="common-things :: menu('accounts')"/>

<div class="row">
    <div class="col-sm">
        <form method="get" action="/accounts">
            <div class="form-group container" style="max-width: 400px;">
                <h5 class="mb-3 mt-3">По типам счетов</h5>
                <input type="hidden" name="filter_by" th:value="types"/>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="type1">
                    <label>Счет дебетовой карты</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="type2">
                    <label>Счет дебетовой карты с повышенным процентом на остаток</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="type3">
                    <label>Счет кредитной карты: маленький лимит</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="type4">
                    <label>Счет кредитной карты: средний лимит</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="type5">
                    <label>Счет кредитной карты: большой лимит</label>
                </div>

                <button type="submit" class="btn btn-primary">Отфильтровать</button>
            </div>
        </form>
    </div>
    <div class="col-sm">

        <form method="get" action="/accounts">
            <div class="form-group container" style="max-width: 400px;">
                <h5 class="mb-3 mt-3">По наличию операций в определённом промежутке времени</h5>
                <input type="hidden" name="filter_by" th:value="operations_range"/>
                <div class="form-group">
                    <label>От</label>
                    <input class="form-control" name="date_from">
                </div>
                <div class="form-group">
                    <label>До</label>
                    <input class="form-control" name="date_to">
                </div>

                <button type="submit" class="btn btn-primary">Отфильтровать</button>
            </div>
        </form>
    </div>
    <div class="col-sm">

        <form method="get" action="/accounts">
            <div class="form-group container" style="max-width: 400px;">
                <h5 class="mb-3 mt-3">По текщему балансу</h5>
                <input type="hidden" name="filter_by" th:value="sum_range"/>
                <div class="form-group">
                    <label>От</label>
                    <input class="form-control" name="sum_from">
                </div>
                <div class="form-group">
                    <label>До</label>
                    <input class="form-control" name="sum_to">
                </div>

                <button type="submit" class="btn btn-primary">Отфильтровать</button>
            </div>
        </form>
    </div>
    <div class="col-sm">
        <form method="get" action="/accounts">
            <div class="form-group container" style="max-width: 400px;">
                <h5 class="mb-3 mt-3">Поиск по подстроке</h5>
                <input type="hidden" name="filter_by" th:value="str"/>
                <div class="form-group">
                    <label>Строка</label>
                    <input class="form-control" name="str">
                </div>

                <button type="submit" class="btn btn-primary">Отфильтровать</button>
            </div>
        </form>

    </div>
</div>


<form method="get" action="/addAccount">
    <div class="form-group text-center">
        <div class="form-group">
            <button type="submit" class="btn btn-success">Добавить счет</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Баланс</th>
        <th scope="col">Тип</th>
        <th scope="col">Отделение</th>
        <th scope="col">Клиент</th>
        <th scope="col">Номер счёта, на который начисляется процент</th>
        <th scope="col">Активность</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}" th:object="${account}">
        <td th:text="*{getId()}"></td>
        <td th:text="*{getBalance()}"></td>
        <td th:text="*{getType().getName()}"></td>
        <td>
            <form method="get" action="/viewBranch">
                <input type="hidden" name="id" th:value="*{getBranch().getId()}"/>
                <button type="submit" class="btn btn-secondary">Отделение</button>
            </form>
        </td>
        <td>
            <form method="get" action="/viewClient">
                <input type="hidden" name="id" th:value="*{getClient().getId()}"/>
                <button type="submit" class="btn btn-secondary">Клиент</button>
            </form>
        </td>
        <td th:text="*{getInterest_yield_receiver()}"></td>
        <td th:text="*{getIs_active()}"></td>

        <td>
            <form method="get" action="/viewAccount">
                <input type="hidden" name="id" th:value="*{getId()}"/>
                <button type="submit" class="btn btn-secondary">Открыть</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<div th:replace="common-things :: bootstrap-body"/>
</body>
</html>