<!DOCTYPE HTML>
<html>
<head>
    <div th:replace="common-things :: bootstrap-head"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Банковская система</title>
</head>
<body>
<div th:replace="common-things :: menu('index')"/>

<div class="container">
    <h1>Добро пожаловать!</h1>
    Для работы с системой перейдите в одну из страниц. <br/>

    Если вы не являетесь уполномоченным лицом, покиньте страницу!
</div>

<div th:replace="common-things :: bootstrap-body"/>
</body>
</html>