<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="common-things :: bootstrap-head"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${client.getName()}"></title>
</head>
<body>
<div th:replace="common-things :: menu('clients')"/>


<div class="container mt-3" style="max-width: 400px;">
    <div style="display: flex; ">
        <div class="">
            <form method="get" action="/accounts">
                <input type="hidden" name="filter_by" th:value="client"/>
                <input type="hidden" name="client_id" th:value="${client.getId()}"/>
                <button type="submit" class="btn btn-info">Счета</button>
            </form>
        </div>
        <div class="">
            <form method="post" action="/deleteClient" th:object="${client}" class="ml-2">
                <input type="hidden" name="id" th:value="*{getId()}">
                <button type="submit" class="btn btn-danger">
                    Удалить
                </button>
            </form>
        </div>
    </div>
    <br/>
    <form method="post" action="/updateClient" th:object="${client}">
        <input type="hidden" name="id" th:value="*{getId()}">

        <div class="form-group">
            <label>Тип клиента</label>
            <input class="form-control" name="type" th:value="*{getType()}">
        </div>
        <div class="form-group">
            <label>Имя или название</label>
            <input class="form-control" name="name" th:value="*{getName()}">
        </div>
        <div class="form-group">
            <label>Отчество</label>
            <input class="form-control" name="middle_name" th:value="*{getMiddle_name()}">
        </div>
        <div class="form-group">
            <label>Фамилия</label>
            <input class="form-control" name="surname" th:value="*{getSurname()}">
        </div>
        <div class="form-group">
            <label>Адрес</label>
            <input class="form-control" name="address" th:value="*{getAddress()}">
        </div>
        <div class="form-group">
            <label>Телефон</label>
            <input class="form-control" name="phone_number" th:value="*{getPhone_number()}">
        </div>
        <div class="form-group">
            <label>E-mail</label>
            <input class="form-control" name="email" th:value="*{getEmail()}">
        </div>
        <div class="form-group">
            <label>Дата рождения</label>
            <input class="form-control" name="date_of_birth" th:value="*{getDate_of_birth()}">
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

</div>

<div th:replace="common-things :: bootstrap-body"/>
</body>
</html>